node_modules
dist
.vite
.env
*.log
.DS_Store

# Local archive dumps
*.zip


# TypeScript incremental build cache
*.tsbuildinfo

# Backend generated output
apps/backend/dist/
apps/backend/node_modules/

# Quasar generated folders
apps/migrants/dist/
apps/migrants/.quasar/
apps/migrants/.output/

apps/pa/dist/
apps/pa/.quasar/
apps/pa/.output/

apps/ngo/dist/
apps/ngo/.quasar/
apps/ngo/.output/