// Quasar SCSS Variables
// Brand colors from original quasar.conf.js

$primary:   #efefef;
$secondary: #0b91ce;
$accent:    #0f3a5d;

$dark:      #0d0d0d;
$dark-page: #121212;

$positive:  #21BA45;
$negative:  #C71f40;
$info:      #ff7c44;
$warning:   #F2C037;
